<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <ul class="list-inline text-center">
    <li>
        <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a target="_blank"  href="https://github.com/<%= config.github_username %>">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    </ul>
  <p class="copyright text-muted" style='margin-top:10px;'>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
    <span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"></span>人次</span>
  </p>  
  <p class="copyright text-muted"  style='margin-top:0px;'>
      Copyright &copy; <%= config.title %> <%= new Date().getFullYear() %> 
      <br>
      Create by <a href="http://www.bloggao.cn">liecol</a> 
      <span style="display: inline-block; margin: 0 5px;">
          <i class="fa fa-heart"></i>
      </span> 
      Ported by <a href="https://github.com/liecol-gao/liecol-gao.github.io">Liecol-Github</a> | 
      京ICP备xxxxxx号
  </p>
</footer>